header
	h1!=title
	h2!=description
	p Работаю в #[a(href='http://feip.co') FEIP]
	p Живу во Владивостоке. Молод, общителен, целеустремлён.
main
	p
		a(href='tel://+79247322736') +7 924 732-27-36
		=' | '
		a(href='mailto:mail@grawl.ru') mail@grawl.ru
	hr
	ul.list-inline
		block variables
			-var sprite=icons.dir+icons.file+"#"
		each link in links
			-var id=link.title
			li.list-inline-item
				a(
				href='//'+link.uri
				target='_blank'
				title=id
				)
					.icon(class=id)
						svg: use(xlink:href=sprite+id)
